PROMETHEUS_VCD_LOG_LEVEL={{ prometheus_vcd_sd_log_level }}
PROMETHEUS_VCD_LOG_PRETTY={{ prometheus_vcd_sd_log_pretty | lower }}
PROMETHEUS_VCD_WEB_ADDRESS={{ prometheus_vcd_sd_web_address }}
PROMETHEUS_VCD_WEB_PATH={{ prometheus_vcd_sd_web_path }}
PROMETHEUS_VCD_OUTPUT_FILE={{ prometheus_vcd_sd_output_file }}
PROMETHEUS_VCD_OUTPUT_REFRESH={{ prometheus_vcd_sd_output_refresh }}
PROMETHEUS_VCD_CONFIG={{ prometheus_vcd_sd_credentials_file }}
